h1{
    text-align: center;
}
h2{
    color: tomato;
    text-align: center;
}
*{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
header{
    background-image: url('/mypic.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    height: 100vh;
    background-position: center;
    top: 0;
    background-color: beige;
}
body{
      
    background-color: palegoldenrod;
}
nav{
   
    left: 0;
}
nav ul{
    list-style: none;rgb(64, 60, 12)
    padding: 10px;
}
.menu li{
    
    background-color: skyblue;
    border: 3px solid skyblue;
    padding: 5px;
     font-size: large;
    display: inline-block;
}
a{
    text-decoration: none;
}
.d2{
    display: flex;
}
.article1 {
    border: 3px solid tomato;
    border-radius: 10px;
    font-size: larger;
    letter-spacing: 2px;
    word-spacing: 2px;
    margin: auto;
    padding: 50px;
    background-color: skyblue;
width: 50%;
}
.inline{   
    border: 3px solid tomato;
    border-radius: 10px; 
  
    background-color: skyblue;
    display: inline-block;
   
    width: 260px;
    height: 260px;
} 
.article2{
    text-align: center;
}
 
.outside,.inside{
    border: 3px solid tomato;
    border-radius: 10px;
     background-color: skyblue;
   width:250px;
    display: inline-block;
    padding-top: 25px;
    text-align: center;
    margin-left: 50px;
    margin-right: 50px; 
}
.article3{
     
    text-align: center;
}
.color,.food,.artist{
    border: 3px solid tomato;
    border-radius: 10px;
    background-color: skyblue;
    width:250px;
     display: inline-block;
     padding:25px;
   text-align: center;
}
.article4,.color,.food,.artist{
    text-align: center;
}
.school,.Home{
    border: 3px solid tomato;
    border-radius: 10px;
    display: inline-block;
    background-color: skyblue;
    padding: 25px;
}
.article5,.school,.Home{
text-align: center;
}
  .footer{
    color: skyblue;
    background-color: black;
    text-align: center;
    padding: 30px;
  }
  .hr{
    width: 20%;
  }
  img fb{
    float: right;
  }